:root {
    --primary-color: maroon;
    --secondary-color: rgb(126, 201, 110);
    --front-family: "Arial", cursive;  
    --margin-standar: 1em;  
}


nav {
    background-color: var(--primary-color); 
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--secondary-color);
    font-family: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
    font-family: var(--front-family);
    }

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: var(--secondary-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    }

footer {
    margin-top: 1em;
    border-top: 1px solid#000;
    text-align: center;nav 
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);  /*repeated*/
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}