<!--The background color will be the color "darkblue", which is a valid, named color. and Padding, or area between the content and border is set to 10 pixels for readability.-->
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}